
body{
    margin: auto;
    width: 80%;
}
.first{ width: 600px;
    height: 60px;
    background-color: #cccccc;
   padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  
}

.d1{
margin-left: 10px;
    
}

.b3 {
    width: 49px;
    height: 25px;
    background-color: blue;
    border:3px solid;
    border-color:black ;
    color: white;
    box-shadow: 3px 3px black ;  
}
.b4{
width: 217px;
height: 30px;

}

.sec{
    width: 405px;
    height: 260px;
    border: 3px solid black;
    margin: 10px;
    padding-left: 12px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.b5{
 
    width: 80px;
    height: 25px;
    background-color:#ffd966;
    border:3px solid;
    border-color:black ;
    color: white;
    box-shadow: 3px 3px black ;  
}
.asad{
    padding-left: 50px;
}

.right{
width: 167px;
height: 123px;
border: 3px solid black;
margin-top: 11px;
}
.header{
    display: flex;
    margin-top: 20px;
}

.f3{

   margin: 13px;
}
.b6{
    /* display: none; */
    background-color: #93c47d;
    box-shadow: 3px 3px black ;
    margin: 10px;
    width: 145px;
    height: 32px;
}